name: CI Pipeline

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      # - name: Run tests
      #   run: npm test

      - name: Build project
        run: npm run build

      # - name: SonarCloud Scan
      #   uses: SonarSource/sonarcloud-github-action@master
      #   env:
      #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-and-push-docker:
    name: Build and Push Docker Image
    needs: build-and-test
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: koushik172/notification-service
      IMAGE_TAG: build-${{ github.run_number }}
    if: github.ref == 'refs/heads/main' || github.event_name == 'push'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create config files
        run: |
          mkdir -p config
          printf 'kafka:\n  clientId: "notification-service"\n  broker: "pkc-oxqxx9.us-east-1.aws.confluent.cloud:9092"\n  sasl:\n    mechanism: "plain"\n    username: "${{ secrets.KAFKA_SASL_USERNAME }}"\n    password: "${{ secrets.KAFKA_SASL_PASSWORD }}"\nlogging:\n  silent: false\nfrontend:\n  url: "http://localhost:3001"\n  orderPath: "/orders"\nnotifications:\n  email:\n    provider: "nodemailer"\n    nodemailer:\n      host: "smtp.ethereal.email"\n      port: 587\n      secure: false\n      auth:\n        user: "${{ secrets.NODEMAILER_USER }}"\n        pass: "${{ secrets.NODEMAILER_PASS }}"\n      fromEmail: "${{ secrets.NODEMAILER_USER }}"\n    ses:\n      host: "email-smtp.us-east-1.amazonaws.com"\n      port: 587\n      secure: false\n      region: "us-east-1"\n      auth:\n        user: "${{ secrets.SES_USER }}"\n        pass: "${{ secrets.SES_PASS }}"\n      fromEmail: "${{ secrets.SES_FROM_EMAIL }}"\n  sms:\n    provider: "twilio"\n    twilio:\n      accountSid: ""\n      authToken: ""\n      fromNumber: ""\n  push:\n    provider: "firebase"\n    firebase:\n      projectId: ""\n      privateKey: ""\n      clientEmail: ""\n' > config/development.yaml

      - name: Build Docker Image
        run: docker build -t ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} -f docker/prod/Dockerfile .
      - name: Push Docker Image
        run: docker push ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
